html, body {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  background-color: #FFFFFF;
  color: rgb(240, 240, 240);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#head {
  width: ~"calc(100% - 12px)";
  height: 32px;
  margin: 0 6px;
  line-height: 32px;
  padding: 0 6px;
  font-size: 12px;
  background-color: #EEEEEE;

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .title {
      margin: 0 6px;
      color: #000000;
    }

    input:not(.submit) {
      height: 18px;
      padding: 1px 5px;
    }

    .submit {
      width: 60px;
      height: 24px;
      margin-left: 10px;
    }
  }
}

#terminal {
  width: ~"calc(100% - 12px)";
  height: ~"calc(100% - 32px)";
  margin: 0 6px;
}
